{% extends 'proto_base.html' %}
{% block content %}
<div>
    <div class="profile info">
        <h1>{{profile.user.username}}</h1>
        <img src="{{ profile.image }}"/>
        <div class="description-box" style="border: solid black 3px;padding: 10%;">
            <h4>Description:</h4>
            <p>{{profile.description}}</p>
        </div>
    </div>
    <h1>Order history</h1>
    <div name="Order history box" style="border:solid black 2px; width: 80%;>
    {% for order_with_products in order_history %}
            <p> order_id : {{ order_with_products.id }}</p>
                {% include 'proto_account/proto_order.html' with products=order_with_products.products %}
            <p>total: {{ order_with_products.total }}$</p>
    {% endfor %}
    </div>
</div>


{#{% if previous_order %}#}
{#<div style="display: flex; float: right;">#}
{#    {% for order, order_product in previous_orders.iteritems() %}#}
{#        {% include 'proto_account/proto_order.html' with order=order %}#}
{#        {% for product in order_product %}#}
{#            {% include 'proto_account/proto_order_info.html' with order_product = order_product %}#}
{#        {% endfor %}#}
{#    {% endfor %}#}
{#</div>#}
{#{% else %}#}
{#    <p>No previous orders to display.</p>#}
{#{% endif %}#}
{% endblock %}