.cart_page {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.cart {
    width: 40%;
    border: 5px solid var(--dark);
    border-radius: 10px;
    height: fit-content;
    margin: auto;
    padding: 1rem;
}

.cart_item {
    border-top: 2px solid var(--dark);
    margin: 2rem;
}

.summary {
    display: flex;
    flex-direction: column;
    width: 15%;
    border: 5px solid var(--dark);
    border-radius: 10px;
    height: fit-content;
    margin-top: 2rem;
    margin-bottom: auto;
    margin-inline: auto;
    padding: 1rem;
}

.summary button {
    margin-left: auto;
    width: fit-content;
    min-width: 2.5rem;
    padding-inline: 0.5rem;
    height: 1.5rem;
    color: var(--dark);
    background-color: var(--light);
    justify-content: normal;
}
.summary h1 {
    color: var(--dark);
    margin-top: 0px;
}

summary p {
    margin: auto;
}

