.main_profile_connection {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.login_box {
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
    border-radius: 3rem;
    width: 50%;
    height: auto;
}

.container {
    width: 80%;
    display: flex;
    margin: 1rem;
    justify-content: space-between;
}

.signup_box {
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
    border-radius: 3rem;
    width: 50%;
    height: auto;
}

form {
    width: 50%;
}

input[type=text], input[type=password] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.signup_box input[type=text], input[type=password] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login_box button {
    width: 5rem;
}

.main_profile_connection button {
    background-color: var(--dark);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    height: 3rem;
}
