{% extends 'base_page.html' %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/account/login_style.css' %}">

<div class="main_profile_connection">
    <form action={% url 'login_register' %} method="post">
        {% csrf_token %}
        <div class="login_box">
            <h3>Log in</h3>
            <label for="id_username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit" name="submit" value="login">Login</button>
            <div class="container">
                <label>
                  <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
                <span class="psw"><a href="#">Forgot password?</a></span>
            </div>
        </div>
    </form>
    <form action="{% url 'login_register' %}" method="post">
        {% csrf_token %}
        <div class="signup_box">
            <h3>Sign up</h3>
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password1" required>

            <label for="cpsw"><b>Confirm password</b></label>
            <input type="password" placeholder="Confirm password" name="password2" required>

            <button type="submit" name="submit" value="register">Sign up</button>
        </div>
    </form>
</div>
{% endblock %}
