.tags {
    margin-top: 1rem;
    width: 97%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
    border-bottom: 2px solid #B46B36;
    margin-inline: 1rem;
}
.inactiveTag label{
    color: var(--dark)
}
.tags select{
    border: solid var(--dark);
    color: var(--dark);
}
#tagDiv{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 75%;
    overflow: hidden;
}

.tags button {
    width: 5rem;
    background-color: var(--dark);
}

.products_page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    flex: 1 0 21%;
    margin: 1rem;
    height: auto;
}
.categoryProductDiv {
    margin: 20px;
    max-width: 210px;
}
.categoryProductImageDiv {
    background-color: whitesmoke;
    border: 3px solid var(--dark);
    width: 204px;
    height: 204px;

}
.categoryProductImage{
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin-inline: auto;
    margin-block: auto;
}
.inactiveTag{
    order: 42;
    padding: 5px;
    background-color: var(--light);
    border-radius: 20px;
}
.inactiveTag:hover{
    cursor: pointer;
    background-color: var(--lightHover);
}
.inactiveTag label{
    color: var(--dark);
}
.tag_label{
    pointer-events: none;
}

.inactiveTag *:hover{
    cursor: pointer;
}

.activeTag{
    order: 1;
    padding: 5px;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 20px;
}
.activeTag:hover{
    cursor: pointer;
    background-color: var(--darkHover);
}
.activeTag label{
    color: var(--light);
}
.upperInfo{
    display: flex;
    justify-content: space-between;
    padding-inline: 1.5rem;
    margin-block: 0.5rem;
    width: 100%;
}
.lowerInfo{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
}

.paginator{
    overflow: hidden;
    list-style-type: none;
}


.paginator li {
    background-color: var(--light);
    color: var(--dark);
    float: left;
    padding: 8px 16px;
    border: 1px solid var(--dark);
}

/*.paginator li{

    display: block;isplay: block;
    text-align: center;
    padding: 16px;

}*/


li.disabled{
    background: wheat;
}

li.active{
    background-color: var(--dark);
    color: var(--light);
}
li.active{
    background-color: var(--dark);
    color: var(--light);
}

.page_nav_button:hover {
    cursor: pointer;
}

