.tags {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
    border-bottom: 2px solid #B46B36;
    margin-inline: auto;
}

.tags button {
    width: 5rem;
    background-color: var(--dark);
}

.products_page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    flex: 1 0 21%;
    margin: 1rem;
    height: auto;
}
.categoryProductDiv {
    margin: 20px;
    max-width: 210px;
}
.categoryProductImageDiv {
    background-color: whitesmoke;
    border: 3px solid var(--dark);
    width: 204px;
    height: 204px;

}
.categoryProductImage{
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.activeTag{
    padding: 5px;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 20px;
}
.activeTag:hover{
    background-color: var(--darkHover);
}
.activeTag a{
    color: var(--light);
}
.upperInfo{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
}
.lowerInfo{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
}
