{% load static %}

<div class="input-group">
    <form action="{% url 'product_detail' product.id %}" method="get">
        <span class="input-group-btn">
            <button type="button" class="btn btn-danger btn-number"  data-type="minus">
                <span class="glyphicon glyphicon-minus">-</span>
            </button>
        </span>
        {% csrf_token %}
        <input type="text" name="quant" class="form-control input-number" value="1" min="1" max="10">

        <span class="input-group-btn">
            <button type="button" class="btn btn-success btn-number" data-type="plus">
                <span class="glyphicon glyphicon-plus">+</span>
            </button>
        </span>
        <button type="submit" name="add" class="btn btn-primary" value="Add to cart">Add to cart</button>
    </form>

</div>
{# Scripts #}
<script src="{% static 'js/quantity_button_script.js' %}"></script>
