{% extends 'base_page.html' %}
{% load static %}
{% block content %}
    {# bjaka style #}
    <style>
        .tag_button{
            background-color: #F0C965 !important;
            color: #B46B36;
            cursor: pointer;
        }

        .tag_button:hover {
            background-color: #B46B36 !important;
            color: #F0C965;
        }

        #tag_clicked {
            background-color: #B46B36 !important;
            color: #F0C965;
        }
    </style>
    <script src="{% static 'js/products.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/products/category_page_style.css' %}">
  <div class="tags">
    {% for tag in tags %}
      <button class="tag_button" type="button">{{tag.name}}</button>
    {% endfor %}
    <label for="value">Order by:</label>
{#  {% for tag in active_tags %}#}
{#    <h1> {{ tag.name }}</h1>#}
{#  {% endfor %}#}
        <input type="hidden" id="urlencode" name="urlencode" value="{{ request.GET.urlencode }}">
      <select class="order_select" name="order" id="value">
        <option value="">--Select--</option>
        <option value="price_ascending">price <</option>
        <option value="price_descending">price ></option>
        <option value="name_ascending">name <</option>
        <option value="name_descending">name ></option>
      </select>

      <select class="category_select"name="category">
        <option value="">--Select--</option>
        {% for category in all_categories %}
          <option value="{{category}}">{{category}}</option>
        {% endfor %}
      </select>

  </div>
  <div class="products_page">
    {% block products %}
    {% endblock %}
  </div>
{% endblock %}
