{% extends 'base_page.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/products/category_page_style.css' %}">
  <div class="tags">
    {% for tag in tags %}
      <a type="button" href="?tag={{ tag.name }}&{{ request.GET.urlencode }}">{{tag.name}}</a>
    {% endfor %}
    <label for="value">Order by:</label>
{#  {% for tag in active_tags %}#}
{#    <h1> {{ tag.name }}</h1>#}
{#  {% endfor %}#}
    <form method="get" action="{% url 'product_index' %}">
        <input type="hidden" id="urlencode" name="urlencode" value="{{ request.GET.urlencode }}">
      <select name="order" id="value">
        <option value="">--Select--</option>
        <option value="price_ascending">price <</option>
        <option value="price_descending">price ></option>
        <option value="name_ascending">name <</option>
        <option value="name_descending">name ></option>
      </select>

      <select name="category">
        <option value="">--Select--</option>
        {% for category in all_categories %}
          <option value="{{category}}">{{category}}</option>
        {% endfor %}
      </select>

      <button class="btn btn-outline-success" type="submit">submit</button>
    </form>
  </div>
  <div class="products_page">
    {% block products %}
    {% endblock %}
  </div>
{% endblock %}
