{%  extends 'proto_base.html' %}
{% block content %}
    <div style="display: flex; justify-content: space-evenly;">
    <form method="post" class="form form-horizontal" style="border: solid 3px black;margin:auto; padding:5%;">
        {% csrf_token %}
        {{  form_1 }}
    <input type="submit" name="submit" class="btn btn-primary" value="register"/>
    </form>
    <form method="post" class="form form-horizontal" style="border: solid 3px black;margin:auto; padding:5%;">
        {% csrf_token %}
        {{  form_2 }}
    <input type="submit" name="submit" class="btn btn-primary" value="login"/>
    </form>
    </div>
{% endblock %}