.padding{
    padding: 20px
}
#mainH1{
    text-align: center;
}
#selectDiv{
    display: flex;
    flex-direction: row;
    height: 350px;
}
.GoToAnchorThing{
    background-color: antiquewhite;
    text-align: center;
    border: 3px solid var(--dark);
    width: 16%;
    height: 200px;
    margin: auto;
}
.paragraphsFRow{
    display: flex;
    flex-direction: row;
}
.paragraph{
    width: 60%;
}
.imageInPar{
    padding: 20px;
    width: 40%;
}
.imageInPar img{
    width: 100%;
}
.termsSpacer{
    height: 50vh;
}
#termsCond{
    width: 65%;
    margin-inline: auto;
}
