.tags {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
    border-bottom: 2px solid #B46B36;
}

.tags button {
    width: 5rem;
}

.products_page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    flex: 1 0 21%;
    margin: 1rem;
    height: auto;
}
.categoryProductDiv {
    margin: 20px;
    max-width: 210px;
}
.categoryProductImageDiv {
    background-color: whitesmoke;
    border: 3px solid var(--dark);
    width: 204px;
    height: 204px;

}
.categoryProductImage{
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
