footer {
    height: auto;
    display: flex;
    background-color: var(--dark);
}

#footer_info {
    margin-top: 1.5rem;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#footer_info a {
    color: var(--light);
}
#footer_info a:hover {
    color: yellow;
}

#footer_info ul {
    color: var(--light);
}

#footer_logo {
    margin: 2rem;
    height: 5rem;
    width: 5rem;
}

#footer_logo img {
    width: 100%;
    height: auto ;
    border: 3px solid;
    border-radius: 60%;
    border-color: var(--light);
}
