footer {
    height: auto;
    display: flex;
    background-color: var(--dark);
    ;
}

#footer_info {
    margin-top: 1.5rem;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#footer_info a {
    color: var(--light);
}
#footer_info a:hover {
    color: var(--lightHover);
}

#footer_info ul {
    color: var(--light);
}

#footer_logo {
    margin: 20px;
    height: 114px;
    width: 114px;
    border: 3px solid;
    border-radius: 100%;
    border-color: var(--light);
}

#footer_logo img {
    width: 100%;
    height: 100% ;

}
