.landingProductImageDiv {
    margin: 20px;
}
.landingProductImageDiv {
    background-color: whitesmoke;
    border: 3px solid var(--dark);
    width: 210px;
    height: 210px;

}
.landingProductImage{
    max-width: 200px;
    max-height: 200px;
}

