#mainProductDiv{
    display: flex;
    flex-direction: row;
}

#ProductInfo{
    background-color: whitesmoke;
    border: 3px solid var(--dark);
    width: -webkit-fill-available;
    padding: 20px;
    margin: 20px;
    align-self: flex-end;
}
#ProductInfoDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#CartProdInfo{
    display: flex;
    flex-direction: row;
}
#CartProdInfo .inline-group{
    display: flex;
    flex-direction: row;
}
#ProductImages{
    display: flex;
    max-width: 600px;
    margin: 20px;
    flex-direction: column;
}
#largeProductImage{
    width: 598px;
    height: 598px;
    border: 1px solid var(--dark);
}
#smallProductImages{
    display: flex;
    flex-direction: row;
}
.singleProductImageDiv{
    display: flex;
    border: 2px solid var(--dark);
    width: 196px;
    height: 196px;
}
.singleProductImage{
    margin: auto;
    max-width: 196px;
    max-height: 196px;
}
