html, body{
  margin:0 !important;
  padding:0 !important;
}

.topDiv{
    margin: 0%;
    padding:  2%;
    background-color: var(--light);
}
.topText{
    color: var(--dark)
}
#topLogoDiv{
    height: 120px;
    width: 120px;
}
#topLogo{
    height: 100%;
    width: 100%;
}
#header_top{
    justify-self: ;
    display: flex;

}
