html, body{
  margin:0 !important;
  padding:0 !important;
}

.topDiv{
    margin: 0%;
    padding:  2%;
    background-color: var(--light);
}
.topText{
    color: var(--dark)
}
#topLogoDiv{
    height: 120px;
    width: 120px;
}
#topLogo{
    height: 100%;
    width: 100%;
}

#header_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}
#header_bottom { /* TODO: Reduce border so not across whole screen */
    display: flex;
    justify-content: space-around;
    border-top: 3px solid var(--dark);
    margin-top: 10px;
    margin-right: 120px;
    margin-left: 120px;
}
