:root{
    --dark: #B46B36;
    --darkHover: #ad5d22;
    --light: #F0C965;
    --lightHover: #ffd74e;
    --backgroundWhite: white;
    --pageWidth: 1400px;
    --marginsWidth: calc( calc(100vw - var(--pageWidth)) / 2);
}
html, body {
    margin: 0 !important;
    padding: 0 !important;
}
body, header {
    font-family: Roboto, sans-serif;
}

body {
    background-color: var(--backgroundWhite);
}
body {
    border-right: var(--marginsWidth) solid #F0F0F0;
    border-left: var(--marginsWidth) solid #F0F0F0;
}

h1 {
    color: var(--dark);
}
p{
    color: var(--dark);
}
a {
    color: var(--dark);
    text-decoration: none;
    font-size: large;
}

a:hover {
    color: var(--darkHover);
}

header {
    display: block;
    background: var(--dark);
}

header h1 {
    color: var(--dark);
    font-size: xxx-large;
}
button {
    background-color: var(--dark);
    color: var(--light);
}
button:hover{
    background-color: var(--darkHover);
}

#contentDiv{
    min-height: 75vh;
}
