
.topDiv{
    margin: 0%;
    padding:  20px;
    background-color: var(--light);
    border-radius: 0 0 75px 75px;
}
.topText{
    color: var(--dark)
}
#header_top {
    display: flex;  
    justify-content: space-between;
    margin-bottom: 0px;
}

#topLogoDiv{
    float: left;
    height: 120px;
    width: 120px;
}
#topLogo{
    height: 100%;
    width: 100%;
}
#profile\&CartDiv{
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    min-width: 270px;
}
#spacerProfile\&Cart{
    color: var(--light);
}
#topProfileImgDiv{
    float: left;
    margin-right: 20px;
    height: 70px;
    width: 70px;
}
#topProfileImg {
    height: 100%;
    width: 100%;
}

#cartItems{
    display: flex;
    float: bottom;
    horiz-align: center;
}
#header_bottom {
    display: flex;
    justify-content: space-around;
    border-top: 3px solid var(--dark);
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 140px;
    padding-top: 10px;
}

#main_search {
    margin-block: auto;
}
#main_search form{
    display: flex;
    flex-direction: row;
}
#main_search input {
    border: none;
    border-radius: 10px 0 0 10px;
    height: 1.5rem;
    width: 25rem;
    text-align: left;
    padding-inline: 10px;
    margin-inline: 0;
}
#main_search button{
    border: solid var(--dark);
    height: 1.5rem;
    border-radius: 0 10px 10px 0;
    margin-inline: 0;
}
#main_search button:hover {
    border: solid var(--darkHover);
}
.header_top h1 {
    font-family: Roboto, sans-serif;
    font-size: xx-large;
    margin-left: 20px;
}
