
    <form method='post' action="{% url 'complete_order' %}" class="form" id="payment_form">
        {% csrf_token %}

        <input type="hidden" name="step" value="payment">
        <label for="id_full_name">Card Holder Name:<input type="text" name="full_name" class="form-control" maxlength="80" required id="id_full_name" value="{{ data.full_name }}"><br>
        <label for="id_card_number">Card Number:<input type="text" name="card_number" class="form-control" maxlength="16" required id="id_card_number"  value="{{ data.card_number }}"><br>
        <label for="id_year">Year:<input type="number" name="year" class="form-control" maxlength="4" required id="id_year" value="{{ data.year }}">
        <label for="id_month">Month:<input type="number" name="month" class="form-control" maxlength="2" required id="id_month" value="{{ data.month }}">
        <label for="id_cvc">Cvc:<input type="text" name="cvc" class="form-control" maxlength="3" required id="id_cvc" value="{{ data.cvc }}"><br>


        <input class="continueBtn" type="submit" name="step" value="payment"/>
    </form>
