{% extends 'base_page.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/account/purchase_steps.css' %}">
    <div id="divWithForm">
        {% include form_html %}
    </div>
    <div class="button-group">
        <a href="{% url 'cart_page' %}">
            <button type="button" name="Back_to_cart" value="navigate" class="btn btn-primary">
                Back to cart
            </button>
        </a>
    <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'complete_order'%}?step=payment">
                <button type="button" class="btn btn-primary btn-nav bowlBtn" name="step" value="payment">
                    <!--Payment-->
                    <label></label>
                </button>
            </a>
            <a href="{% url 'complete_order'%}?step=person_info">
                <button type="button" class="btn btn-primary btn-nav bowlBtn" name="step" value="person_info">
                    <!--Person-->
                    <label></label>
                </button>
            </a>
            <a href="{% url 'complete_order'%}?step=review">
                <button type="button" class="btn btn-primary btn-nav bowlBtn" name="step" value="review">
                    <!--review-->
                    <label></label>
                </button>
            </a>
    </div>
    <script src="{% static 'js/payment_process.js' %}"></script>
            </div>
{% endblock %}
