
    <form method="post" class="form">
        {% csrf_token %}
        {#{{  form }}#}


        <label for="id_full_name">Card Holder Name:<input type="text" name="full_name" class="form-control" maxlength="80" required id="id_full_name"><br>
        <label for="id_card_number">Card Number:<input type="text" name="card_number" class="form-control" maxlength="16" required id="id_card_number"><br>
        <label for="id_year">Year:<input type="number" name="year" class="form-control" maxlength="4" required id="id_year">
        <label for="id_month">Month:<input type="number" name="month" class="form-control" maxlength="2" required id="id_month">
        <label for="id_cvc">Cvc:<input type="text" name="cvc" class="form-control" maxlength="3" required id="id_cvc"><br>




        <input class="continueBtn" type="submit" name="personinfo_step" value="Continue"/>
    </form>
