{% extends 'base_page.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/company_info/email_nws_style.css' %}">

<div class="email_page">
  {% if user.is_authenticated %}
    {% if not sub %}
    <form method="post">
        {% csrf_token %}
        <div class="email_box">

            <h3>Email newsletter</h3>

            <label><b>Email</b></label>

            <input type="text" placeholder="Enter email" name="email" required>

            <label><b>Full name</b></label>
            <input type="text" placeholder="Enter full name" name="name" required>

            <label><b>Phone number</b></label>
            <input type="text" placeholder="Enter phone number" name="phonenr" required>


            <label><b>Zip code</b></label>
            <input type="text" placeholder="Enter Zip code" name="town" required>


            <input type="submit" name="sub" value="Submit">

        </div>
    </form>
    {% else %}
        {% if news %}
            {% for new in news %}
            <div class="news_section">
                <h4>{% new.headline %}</h4>
                {% new.content %}
            </div>
            {% else %}
            <div class="news_section">
                <p>No news to show</p>
            </div>
            {% endif %}
            <div class="unsub">
                <form method="post">
                    {% csrf_token %}
                    <input type="submit" name="unsub" value="Unsubscribe to news letter">
                </form>
            </div>
    {% endif %}
    {% else %}
        <p>A user can only receive the news letter if an account is created on the website</p>
    {% endif %}
</div>

{% endblock %}