{% extends 'base_page.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/company_info/email_nws_style.css' %}">

<div class="email_page">
  {% if user.is_auhenticated %}
    {% if !sub %}
    <form method="post">
        {% csrf_token %}
        <div class="email_box">

            <h3>Email newsletter</h3>

            <label><b>Email</b></label>

            <input type="text" placeholder="Enter email" name="email" required>

            <label><b>Full name</b></label>
            <input type="text" placeholder="Enter full name" name="name" required>

            <label><b>Phone number</b></label>
            <input type="text" placeholder="Enter phone number" name="phonenr" required>


            <label><b>Zip code</b></label>
            <input type="text" placeholder="Enter Zip code" name="town" required>


            <input type="submit" name="sub" value="Submit">

        </div>
    </form>
    {% else %}
        <h4>Cereal stock is on the rise</h4>
        <p>Our legal team has successfully gone public with Ship O' Cereal and converted all monetary currency to bitcoin. To purchase stocks in our Eutopia of modern cereal living visit the stock trade for more info.</p>
        <form method="post">
            <input type="text" name="unsub" value="Unsubscribe to news letter">
        </form>
    {% else %}
        <p>A user can only receive the news letter if an account is created on the website</p>
        <a href="{% url 'account' %}">Click here to register</a>
    {% endif %}
</div>

{% endblock %}