{% extends 'base_page.html' %}
{% block content %}
            <link rel="stylesheet" href="../static/css/about_style.css">

            <h1 id="mainH1">About Ship O' Cereal</h1>
            <div id="selectDiv">

                <div class="GoToAnchorThing">
                    <a href="#The_Company">
                        <h2>Us as a company</h2>
                        <p>Its all about the cereal</p>
                    </a>
                </div>
                <div class="GoToAnchorThing">
                    <a href="#How_we_came_to_be">
                        <h2>How we came to be</h2>
                        <p>This just started with one friend-group</p>
                    </a>
                </div>
                <div class="GoToAnchorThing">
                    <a href="#The_Delivery">
                        <h2>Our delivery service</h2>
                        <p>Ist a totally different system</p>
                    </a>
                </div>

            </div>
    <div class="padding">
        <div class="paragraphsFRow">
            <div class="paragraph">
                <h1 id="The_Company" class="beginningH1">The Company</h1>
                <p>We pride ourself on being on the forefront of cereal goods. All we do is think about cereal we can't do any thing else. All of our goods are thoroughly tried and tested so that you only get the best and newest products</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean gravida egestas nunc, rutrum ornare orci finibus at. In vitae velit tellus. Praesent commodo egestas urna id convallis. Mauris feugiat cursus felis, mattis egestas magna tristique vel. Fusce faucibus scelerisque sagittis. Morbi ante elit, lacinia semper erat vel, feugiat gravida est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam ac quam in est auctor cursus. Sed et tincidunt sapien, quis aliquet velit. Sed sed tellus imperdiet, ultrices elit varius, auctor lacus. Phasellus mi urna, rutrum vitae nulla non, cursus vestibulum urna. Sed imperdiet ante vel elementum mollis. Sed dapibus vehicula nulla, eget condimentum nisi dignissim sed.</p>
            </div>
            <div class="imageInPar" > <img src="../static/images/theCompImg.jpg"> </div>
        </div>
        <div class="paragraphsFRow">
            <div class="imageInPar" > <img src="../static/images/HWCTB.jpg"> </div>
            <div class="paragraph">
                <h1 id="How_we_came_to_be" class="beginningH1">How we came to be</h1>
                <p>This all started with just one friend-group that was adiment on trying all the best and newest cereal. In high school we were obsessed with cereals we just could not get enough of it we skipped most lunches just so we could have the best or newest cereal. But over time the group grew apart we found other interests and groups to hang out with. We still met upp on every wednesday just to have some good cereal. But when time came for universities we couldn't meet upp so easily so we started to send cereal to each other instead. Over time we had gotten good system for sending it to each other and even created a small craze in each of the universities. We started to notice the we weren't the only ones who enjoyed cereal so much. So a couple of us dropped out of university and we all founded this great company. In the beginnings we mostly targeted students but over time we grew into what you know today.    </p>
            </div>
        </div>
        <div class="paragraphsFRow">
            <div class="paragraph">
                <h1 id="The_Delivery" class="beginningH1">The Delivery</h1>
                <p>Our peer to peer delivery system works wonders and is highly efficient. We developed this system in our early days when we were just a couple of guys driving some boxes around. This delivery system was also great when we scaled up. The system works by one driver drives some product a small distance and drops them off then has another batch on the way back. Now with only one driver for every delivery station we can span over a large area at great speed. this will result in many people having contact with your package but you can't argue with the results. Now we can ship to virtually every were only using a local post service from our stations world wide.</p>
            </div>
            <div class="imageInPar" > <img src="../static/images/TheDeliveryImg.jpg"> </div>
        </div>
        <h1 id="Email_newsletter" class="beginningH1">Email newsletter</h1>
        <h1 id="Terms_and_conditions" class="beginningH1">Terms and conditions</h1>
    </div>
    {% endblock %}
