
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Ship O' Cereal</title>
    <link rel="icon" href="../static/images/logo_w_circle.svg" type="image/icon type">

    <link rel="stylesheet" href="../static/css/top_bar_style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/footer_style.css">
    <link rel="stylesheet" href="../static/css/landing_style.css">

    <!--
    <link rel="stylesheet" href="../static/css/login_style.css">
    <link rel="stylesheet" href="../static/css/category_page_style.css">
    <link rel="stylesheet" href="../static/css/single_product_style.css">
    <link rel="stylesheet" href="../static/css/basket_style.css">
    -->

    <link rel="stylesheet" href="../static/css/single_product_style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>


    <!-- important style-->
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <div class="topDiv" style="height: 100px">

        </div>
    </nav>
    <div id="contentDiv">
        <!--{% extends 'base_page.html' %}-->
        <!--{% block content %}-->
            <link rel="stylesheet" href="../static/css/about_style.css">

            <h1>About Ship O' Cereal</h1>
            <div id="selectDiv">
                <div class="GoToAnchorThing">
                    <h2>Us as a company</h2>
                    <p>Its all about the cereal</p>
                </div>
                <div class="GoToAnchorThing">
                    <h2>How we came to be</h2>
                    <p>This just started with one friend-group</p>
                </div>
                <div class="GoToAnchorThing">
                    <h2>Our delivery service</h2>
                    <p>Ist a totally different system</p>
                </div>
            </div>
        <!--{% endblock %}-->

    </div>
    <footer>
        <div id="footer_logo">
            <img src="../static/images/logo_w_circle.svg">
        </div>
        <div id="footer_info">
            <ul>
                <a href="#">
                    <li>Opening times 21:00-9:00</li>
                    <li>Phone</li>
                    <li>ship@cereal.co.uk</li>
                </a>
            </ul>
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Email newsletter</a></li>
                <li><a href="#">Terms and conditions</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
