{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Ship O' Cereal</title>
    <link rel="icon" href="../static/images/logo_w_circle.svg" type="image/icon type">

{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">#}
{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>#}

    <link rel="stylesheet" href="../static/css/top_bar_style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/footer_style.css">
    <link rel="stylesheet" href="../static/css/landing_style.css">

    <!--
    <link rel="stylesheet" href="../static/css/login_style.css">
    <link rel="stylesheet" href="../static/css/category_page_style.css">
    <link rel="stylesheet" href="../static/css/single_product_style.css">
    <link rel="stylesheet" href="../static/css/basket_style.css">
    -->

    <link rel="stylesheet" href="../static/css/single_product_style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>


    <!-- important style-->
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <div class="topDiv">
            <a href="/"><!-- go to main site -->
                <div id="topLogoDiv"><img src="{% static 'images/logo_w_circle.svg' %}" alt="logo" id="topLogo"/></div>
            </a>
            <div id="header_top">
                <a href="/"><h1>Ship O' Cereal</h1></a>
                <div id="main_search">
                    <form >
                        <input id="navbarSearch" class="form-control me-2" name="criteria" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit" href="{% url 'product_index' %}">Search</button>
                    </form>
                </div>

                <div id="profile&CartDiv">
                    <a href="/user/account"><div id="topProfileImgDiv"><!-- go to profile -->

                        <img src="../static/images/Profile.svg" alt="Profile" id="topProfileImg">
                    </div></a>


                    <a href="/user/cart"> <!-- go to cart -->
                        <div id="cart">
                            <img src="../static/images/cart.svg" alt="cart">

                            <form method="get">
                                {% if not cart_amount %}
                                    <a href="/user/cart"> 0 items </a>
                                {% else %}
                                    {% if cart_amount == 1 %}
                                        <a href="/user/cart" > 1 item </a>
                                    {% else %}
                                        <a class="nav-link active" aria-current="page" href="{% url 'cart_page' %}">{{cart_amount}} items</a>
                                    {% endif %}
                                {% endif %}
                            </form>
                        </div>
                    </a>

                </div>
            </div>
            <div id="header_bottom">
                <a href="/products">Products</a>
                <a href="/products/?category=cereal">Cereals</a>
                <a href="/products/?category=cook_books">Cook Books</a>
                <a href="/products/?category=dinnerware">Dinnerware</a>
                <a href="/about_us">About us</a>
                <a href="/user/logout">log out</a>
            </div>
        </div>
    </nav>
    <div id="contentDiv">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <div id="footer_logo">
            <img src="../static/images/logo_w_circle.svg">
        </div>
        <div id="footer_info">
            <ul>
                <a href="#">
                    <li>Opening times 21:00-9:00</li>
                    <li>Phone</li>
                    <li>ship@cereal.co.uk</li>
                </a>
            </ul>
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Email newsletter</a></li>
                <li><a href="#">Terms and conditions</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
