
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/top_bar_style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/footer_style.css">
</head>
<body>
    <nav>
        <div class="topDiv">
            <a href="#"><!-- go to main site -->
                <div id="topLogoDiv"><img src="../static/images/logo_w_circle.svg" alt="logo" id="topLogo"></div>
            </a>
            <div id="header_top">

                <div id="main_search">
                    <input type="text" placeholder="Search">
                </div>
                <div id="profile&CartDiv">
                <a href="#"><div id="topProfileImgDiv"><!-- go to profile -->

                    <img src="../static/images/Profile.svg" alt="Profile" id="topProfileImg">
                </div></a>

                <a href="#"> <!-- go to cart -->
                    <div id="cart">
                        <img src="../static/images/cart.svg" alt="cart">
                        <a href="#" id="cartItems">2 items</a>
                    </div>
                </a>
                </div>
            </div>
            <div id="header_bottom">
                <a href="#">Category 1</a>
                <a href="#">Category 2</a>
                <a href="#">Category 3</a>
                <a href="#">Category 4</a>
                <a href="#">Category 5</a>
                <a href="#">About us</a>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <div id="footer_logo">
            <img src="../static/images/logo_w_circle.svg">
        </div>
        <div id="footer_info">
            <ul>
                <li>Opening times 21:00-9:00</li>
                <li>Phone</li>
                <li>ship@cereal.co.uk</li>
            </ul>
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Email newsletter</a></li>
                <li><a href="#">Terms and conditions</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
