{% extends 'base_page.html' %}
{% block content %}
<link rel="stylesheet" href="../static/css/basket_style.css">


<div class="cart_page">
    <div class="cart">
        <div class="cart_item">
            in cart itme
        </div>
        <div class="cart_item">
            in cart itme
        </div>
        <div class="cart_item">
            in cart itme
        </div>
    </div>
    <div class="summary">
        <h4>Summary</h4>
        4100kr
        <button type="button">Buy</button>
    </div>
</div>

{% endblock %}