{% extends 'base_page.html' %}
{% block content %}
  <div class="tags">
    <button type="button">Tag 1</button>
    <button type="button">Tag 2</button>
    <button type="button">Tag 3</button>
    <button type="button">Tag 4</button>
    <button type="button">Tag 5</button>
    <button type="button">Tag 6</button>
    <button type="button">Tag 7</button>

    <label for="value">Order by:</label>

    <select name="value" id="value">
      <option value="val1">val1</option>
      <option value="val2">val2</option>
      <option value="val3">val3</option>
      <option value="val4">val4</option>
    </select>
  </div>
  <div class="products_page">
    {% block products %}
    {% endblock %}
  </div>
{% endblock %}
