{% extends 'base_page.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="../static/css/email_nws_style.css">

<div class="email_page">
  <form method="post">
        {% csrf_token %}
        <div class="email_box">

            <h3>Log in</h3>
            <label><b>Email</b></label>

            <input type="text" placeholder="Enter email" name="email" required>

            <label><b>Full name</b></label>
            <input type="text" placeholder="Enter full name" name="name" required>

            <label><b>Phone number</b></label>
            <input type="text" placeholder="Enter phone number" name="phonenr" required>


            <label><b>Zip code</b></label>
            <input type="text" placeholder="Enter Zip code" name="town" required>


            <input type="submit" value="Submit">

        </div>
    </form>
</div>

{% endblock %}