<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/footer_style.css">
</head>
<body>
<footer>
        <div id="footer_logo">
            <img src="../static/images/logo_w_circle.svg">
        </div>
        <div id="footer_info">
            <ul>
            <li>Opening times 21:00-9:00</li>
            <li>Phone</li>
            <li>ship@cereal.co.uk</li>
        </ul>
        <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Email newsletter</a></li>
            <li><a href="#">Terms and conditions</a></li>
        </ul>
        </div>
    </footer>
</body>
</html>
