{% extends 'base_page.html' %}
{% block content %}

<div class="profile_page">
    <div class="profile_container">
        <div class="profile_info">
            <h1>{{profile.user.username}}</h1>
            <img src="{{ profile.image }}"/>
        </div>
        <div class="description_box">
            <h4>Description:</h4>
            <p>{{profile.description}}</p>
        </div>
    </div>

    <div class="prev_order_container">
        <h1>Previous Orders</h1>
        {#{% if previous_order %}#}
        {#<div class="prev_orders">#}
        {#    {% for order, order_product in previous_orders.iteritems() %}#}
        {#        {% include 'proto_account/proto_order.html' with order=order %}#}
        {#        {% for product in order_product %}#}
        {#            {% include 'proto_account/proto_order_info.html' with order_product = order_product %}#}
        {#        {% endfor %}#}
        {#    {% endfor %}#}
        {#</div>#}
        {#{% else %}#}
        {#    <p>No previous orders to display.</p>#}
        {#{% endif %}#}
    </div>
</div>
{% endblock %}