<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/top_bar_style.css">
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<!-- Navbar begins -->
<div class="topDiv">
    <a href="#"><!-- go to main site -->
        <div id="topLogoDiv"><img src="../static/images/logo_w_circle.svg" alt="logo" id="topLogo"></div>
    </a>
    <div id="header_top">

        <div id="main_search">
            <input type="text" placeholder="Search">
        </div>
        <div id="profile&CartDiv">
        <a href="#"><div id="topProfileImgDiv"><!-- go to profile -->

            <img src="../static/images/Profile.svg" alt="Profile" id="topProfileImg">
        </div></a>

        <a href="#"> <!-- go to cart -->
            <div id="cart">
                <img src="../static/images/cart.svg" alt="cart">
                <a href="#" id="cartItems">2 items</a>
            </div>
        </a>
        </div>
    </div>
    <div id="header_bottom">
        <a href="#">Category 1</a>
        <a href="#">Category 2</a>
        <a href="#">Category 3</a>
        <a href="#">Category 4</a>
        <a href="#">Category 5</a>
        <a href="#">About us</a>
    </div>
</div>
<!--Navbar ends -->
</body>
</html>
